// Navigation code here
.nav { //nav opens
    color: @nav-font;
    background: @nav-bg;
    padding: 20px 0;
    .bordered(1px, double, @nav-border);

    .title{ //title open
        font-size: 4rem;
        text-align: center;
    } //title close

    ul { //list links open
        display: flex;
        font-size: 2rem;
        justify-content: center;

        li {
            margin: 10px;
            padding: 5px;
        }
    } //list links close
} //nav close
